@import '../../../variables.scss';

.titleContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 0;
}
.sectionSub{
    font-size: 1rem;
    font-family: $secondary-font;
    margin: 0;
    color: $dark-gray;

    @media screen and (max-width: $bp-mobile) {
        font-size: 0.85rem;
    }
}
.sectionTitle{
    font-size: 2.5rem;
    font-family: $main-font;
    margin: 0;

    @media screen and (max-width: $bp-mobile) {
        font-size: 1.8rem;
    }
}
