@import "Variables";

.footer {
  background: $darkblue;
  height: 20vh;
  border-top: $deepblue 1px solid;
}

.lienReseau {
}

.iconeReseau {
  width: 50px;
  height: 50px;
  margin: 50px;
}

.copyright {
  color: $pure-white;
  margin-top: 25px;
}