/* Couleurs */
$pure-white:#FFFFFF;
$light-gray:#D3D3D3;
$light-gray-blue:#ced6de;
$light-blue:#7FB6D5;
$sky-blue: #268CF5;
$violet: #8A51A9;
$deepblue: #0b0f35;
$darkblue: #070b23;
$pure-black: #000000;

/* Transparents*/
$sky-blue-0perc: rgba(38, 140, 245, 0);
$sky-blue-5perc: rgba(38, 140, 245, 0.05);
$sky-blue-20perc: rgba(38, 140, 245, 0.2);
$sky-blue-25perc: rgba(38, 140, 245, 0.25);
$sky-blue-50perc: rgba(38, 140, 245, 0.5);

$violet-0perc:rgba(138,81,169, 0);
$violet-25perc:rgba(138,81,169, 0.25);

$pure-white-0perc:rgba(255, 255, 255, 0);
$pure-white-30perc:rgba(255, 255, 255, .2);
$pure-white-100perc:rgba(255, 255, 255, 1);

/* Couleurs Technos */
$angular-color: #DF2E31;
$azure-color: #00BCF0;
$css-color: #2347D1;
$html-color: #E44D27;
$java-color: #BF2F2F;
$mongo-color: #45823E;
$python-color: #FFDE58;
$react-color: #5FD5F6;
$spring-color: #5EB831;
$sql-color: #DC7532;


