@import "Variables";

$main_color: $black;
$main_fonts_color: $white;
$secondary_font_color: green;
.App {
    text-align: center;
    background-color: $main_color;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: $main_color;
    font-family: Cabinetgrotesk variable, sans-serif;
}

.content {
    margin-top: 200px;
}

.navbar {
    margin-top: 0px;
    overflow: hidden;
    position: fixed;
    background-color: rgb($black, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 70px;
    top: 0;
    /* Centrage des items de la navbar */
    display: flex;
    justify-content: center;
    align-items: center;

    .langSelectDiv {
        position: absolute;
        right: 40px;
    }
}

.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Supprime le soulignement par défaut */
    color: $white;
    transition: border-bottom 0.3s ease; /* Transition pour l'effet de soulignement */
    font-weight: bold;
    position: relative;

}

.navbar a:hover::after {
    opacity: 1; /* Augmente l'opacité au survol pour afficher le point */
}

.navbar a:after {
    content: '\2022'; /* Code Unicode pour le caractère rond (•) */
    position: absolute;
    left: 50%; /* Centre horizontalement le point par rapport à l'élément */
    bottom: -6px; /* Ajustez la position verticale du point par rapport au texte */
    transform: translateX(-50%); /* Décale le point de moitié de sa largeur vers la gauche pour le centrer */
    font-size: 20px; /* Ajustez la taille du point selon vos préférences */
    line-height: 0; /* Assurez-vous que la ligne n'a pas de hauteur pour un centrage vertical correct */
    display: inline-block; /* Le point est initialement visible en tant que bloc */
    opacity: 0; /* Opacité initiale à 0 pour le masquer */
    transition: opacity 0.3s ease; /* Ajoute une transition de 0.3 seconde à l'opacité */
}

section:not(.accueil) {
    padding: 100px 150px;
    text-align: left;
    color: $black;
    background-color: $white;
    margin-bottom: 50px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 0px $orange;
}

.accueil {
    color: $main_fonts_color;
}
section {


}

.sectionTitle {
    color: $black;
    border-left: 4px solid $orange;
    padding: 3px;
    padding-left: 10px;
}

.texteSection {

}

.texteSection {


}

.etudes {
}

.parcoursPro {
}

.image-container {

    display: inline-block;
    border: 2px solid $white;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto; /* Ajustez la marge selon vos préférences */
}

.rounded-image {
    width: 200px; /* Ajustez la taille de l'image selon vos préférences */
    height: 200px; /* Ajustez la taille de l'image selon vos préférences */
    border-radius: 50%;
    object-fit: cover; /* Garantit que l'image remplit le cercle */
    transform: scale3d(1, 1, 1);

}

.rounded-image:hover {
    transform: scale3d(1.1, 1.1, 1);
    transition: 0.2s
}

.nom {
    color: $main_fonts_color;
    font-size: xx-large;
    font-weight: bold;
}

.poste {
    color: $main_fonts_color;
    font-size: medium;
}