@import "Variables";
@import "fonts.css";

$main_color: $black;
$main_fonts_color: $white;
$secondary_font_color: green;
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
}

body {
    margin: 0;
    padding: 0;
    background: $darkblue;
    font-family: Cabinetgrotesk variable, sans-serif;
}

.content {
    margin-top: 200px;
}

.navbar {
    margin-top: 0px;
    overflow: hidden;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 70px;
    top: 0;
    /* Centrage des items de la navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    // Effet de transition transparent -> flou
    transition: background-color 0.3s ease-in-out;
    backdrop-filter: blur(10px); /* Effet de flou pour le fond */
    -webkit-backdrop-filter: blur(10px); /* Effet de flou pour le fond (compatibilité avec Safari) */

    .langSelectDiv {
        position: absolute;
        right: 40px;
    }
}

.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Supprime le soulignement par défaut */
    color: $white;
    transition: border-bottom 0.3s ease; /* Transition pour l'effet de soulignement */
    font-weight: bold;
    position: relative;


}

.navbar a:hover::after {
    opacity: 1; /* Augmente l'opacité au survol pour afficher le point */
}

.navbar a:after {
    content: '\2022';
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 0;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease;
}

section:not(.accueil) {

}

.texte {
    color: white;
    margin: 100px;
    text-align: left;
    font-size: 25px;
}

.accueil {
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
section {


}

.sectionTitle {
    font-size: 50px;
    font-family: "SF-Pro-Bold", sans-serif;
    background-image: linear-gradient(97deg, rgb(255, 255, 255) 0%, rgb(127, 182, 213) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.texteSection {
    font-family: SF-Pro-Medium,sans-serif;
}

.etudes {
}

.parcoursPro {
}

.image-container {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.rounded-image {
    width: 250px; /* Ajustez la taille de l'image selon vos préférences */
    height: 250px; /* Ajustez la taille de l'image selon vos préférences */
    transform: scale3d(1, 1, 1);

}

.rounded-image:hover {
    transform: scale3d(1.1, 1.1, 1);
    transition: 0.2s
}

.nom {
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    background-image: linear-gradient(97deg, rgb(255, 255, 255) 0%, rgb(127, 182, 213) 100%); /* Dégradé de couleur */
    -webkit-background-clip: text; /* Permet au texte d'être rempli avec le dégradé */
    background-clip: text; /* Permet au texte d'être rempli avec le dégradé */
    color: transparent; /* Rend le texte transparent pour afficher le dégradé en arrière-plan */
    font-weight: 700;
    font-size: 80px;
}

.poste {
    color: #ced6de;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}