@import 'fonts.css';
@import "Variables";
.associatif{
  position: relative;

}
@media (max-width: $width_desktop){
  .contentSectAsso{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;

  }
  .contentDivAsso{
    margin-block: 1rem;
    cursor: pointer;
    align-items: center;
  
  }
  #imgAsso{
    max-width: 75%;
    max-height: 75%;
  }
  .descriptionAsso{
    font-size: 1.4vh;
  }
}
@media(min-width: $width_desktop){
  .contentSectAsso{
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  .contentDivAsso{
    height: 35vh;
    width: 40%;
    margin-inline: 30px;
    cursor: pointer;
    overflow: hidden;

    #imgAsso{
      max-height: 100%;
      max-width: 100%;
    }
    .descriptionAsso{
      font-size: 2vh;
    }
    
  
  }
}
.contentDivAsso{
  position: relative;
  display: flex;
  background-color: $sky-blue-5perc;
  border:$sky-blue-50perc 1px solid;
  border-radius: 15px;

  

}

.contentDivAsso:hover{
  background-color: $sky-blue-20perc;
  scale: 1.02;
  transition: ease 0.2s;


}
.imagesAsso{
  display: flex;
  height: 100%;
  width: 37%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-inline: 20px;

}



.textAssoBloc{
  width: 63% ;
  padding-inline: 10px;
}
.titreAsso{
  color: $pure-white;
  position: relative;
  border-bottom: $sky-blue-20perc 1px solid;
  font-family: SF-Pro-Bold, sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
  width: 100%;
  text-align: left;
}
.descriptionAsso{
  text-align: left;
  color: $light-gray;
  font-family: SF-Pro-Medium,sans-serif;
  line-height: 1rem;
}
