@font-face {
    font-family: "Ministro Regular";
    src: url("../../public/font/Ministro_Regular.woff");
}
@font-face {
    font-family: "Helvetica Bold";
    src: url("../../public/font/Helvetica-Bold-Font.ttf");

}
@font-face {
    font-family: "SF-Pro-Regular";
    src: url("../../public/font/SFPRO/sfprodisplayregular.ttf");
}
@font-face {
    font-family: "SF-Pro-Medium";
    src: url("../../public/font/SFPRO/SFPRODISPLAYMEDIUM.OTF");
}
@font-face {
    font-family: "SF-Pro-Bold";
    src: url("../../public/font/SFPRO/SFPRODISPLAYBOLD.OTF");
}
