@import "Variables";

.langSelectDiv {
    border: 1px solid $pure-white;
    border-radius: 3px;
    color: $pure-white;
    padding-left: 5px;
    padding-right: 5px;


}

.langSelect {
    background-color: $pure-black;
    color: $pure-white;
    appearance: none;
    border: none;
    font-size: 12px;
    padding: 0;
}

.langSelect option {
    text-align: end;
}
