@import '../../variables.scss';
.presentationContent{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-inline:12rem;

    @media screen and (max-width: $bp-mobile){
        flex-direction: column;
        gap: 1.75rem;
        padding-inline: 0;
        text-align: center;
    }
}
.texteSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5rem;

    @media screen and (max-width: $bp-mobile){
        align-items: center;
    }
}

.texteSection p{
    font-family: $main-font;
    font-size:1rem;
    font-weight: 400;
}
.diplomeContainer{
    display: flex;
    align-items: center;
}
.iconCurrentJob{
    height: 3rem;
    margin-inline: 3rem;

}
.profilPicture{
    width: 11rem;
    height: auto;
    border-radius: 100%;

    @media screen and (max-width: $bp-mobile){
        width: 8.5rem;
    }
}
.buttonDownloadCV{
    background-color: $white;
    border: 1px solid $black;
    border-radius: 5px;
    height: 2.5rem;
    padding-inline: 0.7rem;
}
.buttonDownloadCV:hover{
    color : $blue;
    border: 2px solid $blue;
    cursor: pointer;
    transform: scale(1.01);
    transition: ease-in-out 0.2s;

}