@import '../../variables.scss';
.presentation{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  

}
.presentationContent{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.texteSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5rem;
}

.texteSection p{
    font-family: $main-font;
    font-size:1rem;
    font-weight: 400;
}
.diplomeContainer{
    display: flex;
    align-items: center;
}
.iconCurrentJob{
    height: 3rem;
    margin-inline: 3rem;

}
.profilPicture{
    width: 11rem;
    height: auto;
    border-radius: 4px;
    border-left: 0.5rem solid $emerald;
   
}
.buttonDownloadCV{
    background-color: $white;
    border: 1px solid $black;
    border-radius: 5px;
    height: 2.5rem;
    padding-inline: 0.7rem;
}
.buttonDownloadCV:hover{
    color : $blue;
    border: 2px solid $blue;
    cursor: pointer;
    transform: scale(1.01);
    transition: ease-in-out 0.2s;

}