@import './variables.scss';

body{
    background-color: $white;
}
.app{
   font-family: $main-font;
}

.appNavbar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
}

.appContent{   
    justify-self: end;
    width: 100%;
    flex-direction: column;
    
}
section{
    min-height: 80vh;
    margin-block: 2.5rem;
    padding-inline: 4rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: space-between;
}

.wip{
    @media screen and (max-width :1024px){
        display: flex;
    }
    @media screen and (min-width :1024px){
        display: none;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img{
        width: 80%;
        

    }
}
.sectionWIP{
    @media screen and (max-width :1024px){
        display: none;
    }
}

