:root {
    --black: #131313;
    --dark-gray: #292929;
    --gray: #424242;
    --light-gray: #686868;
    --white: #FAFAFA;
    --orange: #e37d0a;

    /* Dégradés */
    --gray-70: rgb(66, 66, 66, 0.7)
}
.App {
    text-align: center;
    background-color: var(--gray);
    font-family: "Apple Braille";
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--gray);
    font-family: Arial, sans-serif;
}

.content {
    margin-top: 200px;
}

.navbar {
    margin-top: 0px;
    overflow: hidden;
    position: fixed;
    background: linear-gradient(to bottom, var(--gray) 70%, var(--gray-70));
    width: 100%;
    height: 70px;
    top: 0;
    /* Centrage des items de la navbar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Supprime le soulignement par défaut */
    color: var(--white);
    transition: border-bottom 0.3s ease; /* Transition pour l'effet de soulignement */
    font-weight: bold;
    position: relative;
}

.navbar a:hover::after {
    opacity: 1; /* Augmente l'opacité au survol pour afficher le point */
}

.navbar a:after {
    content: '\2022'; /* Code Unicode pour le caractère rond (•) */
    position: absolute;
    left: 50%; /* Centre horizontalement le point par rapport à l'élément */
    bottom: -6px; /* Ajustez la position verticale du point par rapport au texte */
    transform: translateX(-50%); /* Décale le point de moitié de sa largeur vers la gauche pour le centrer */
    font-size: 20px; /* Ajustez la taille du point selon vos préférences */
    line-height: 0; /* Assurez-vous que la ligne n'a pas de hauteur pour un centrage vertical correct */
    display: inline-block; /* Le point est initialement visible en tant que bloc */
    opacity: 0; /* Opacité initiale à 0 pour le masquer */
    transition: opacity 0.3s ease; /* Ajoute une transition de 0.3 seconde à l'opacité */
}

section:not(.accueil) {
    padding: 100px 300px;
    text-align: left;

}

section {
}

.sectionTitle {
    color: #e1dad2;
    border-left: 4px solid #e1dad2;
    padding: 3px;
    padding-left: 10px;
}

.etudes {
}

.parcoursPro {
}

.image-container {

    display: inline-block;
    border: 2px solid #e1dad2;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto; /* Ajustez la marge selon vos préférences */
}

.rounded-image {
    width: 200px; /* Ajustez la taille de l'image selon vos préférences */
    height: 200px; /* Ajustez la taille de l'image selon vos préférences */
    border-radius: 50%;
    object-fit: cover; /* Garantit que l'image remplit le cercle */

}

.rounded-image:hover {
    transform: scale(1.05);
    transition: 0.2s
}

.nom {
    color: var(--white);
    font-size: xx-large;
    font-weight: bold;
}

.poste {
    color: var(--white);
    font-size: medium;
}