@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


/* Couleurs */
$gray:#f7f7f7;
$white:#ffffff;
$black:#000000;
$blue:#1e4e88;
$dark-gray:#9f9f9f;

$dark-emerald:#0A3C30;
$emerald:#00674F;
$light-emerald:#3d8f7c;

$ink:#061F19;
$paper:#EFF6F3;
$paper-dim:#C9DAD4;

/* Police */
$main-font: "Google Sans Flex", sans-serif;
$secondary-font: "Space Grotesk", sans-serif;

/* Breakpoints */
$bp-mobile: 1024px;

  
  